body {
  background-color: #e5e8e8;
}

.nav-container {
  border: 5px solid black;
}

.nav-links {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: inline;
}

.page-title {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.footer-container {
  border: 5px solid black;
}

.footer-title {
  margin: 0;
}

.footer-section {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 5px;
}
